canvas
{
	/*width: 100% !important;*/
	/*max-width: 800px;*/
	/*height: auto !important;*/
}
body
{
	padding:0;
	margin: 0
}

#header
{
	background: #3cc5de;
	padding:25;
	color:#FFFFFF;
	vertical-align: middle;
}

#profile
{
	width:50;
	height:50;
	background:#ffffff;
	border:3px solid #EA4C7D;
	border-radius: 25px;
	vertical-align: middle;
	margin-left: 25px;
}

#quick-reports
{
	list-style: none;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}

#quick-reports a
{
	border-top: 0px solid;
	border-bottom: 3px solid;
	border-right: 2px solid;
		border-radius:0px;
		border-top-color: #bfbfbf;
		border-bottom-color: #bfbfbf;
		border-right-color:#bfbfbf;
	padding: 8px;
	background-color:#fdffff;
	margin-left: 0;
	font-size: 18px;
	color:#EA4C7D;
    text-decoration: none;
    font-weight: bold;
}

#quick-reports a:hover
{
    background-color: #dddddd;
    color: #EA4C7D;
}

#quick-reports a.active
{
    background-color: #EA4C7D;
    color:#ffffff;
}


#quick-reports a:first-child
{
	border-left: 0px solid #bfbfbf;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	
}

#quick-reports a:last-child
{
	border-right: 0px solid #bfbfbf;
		-webkit-border-top-right-radius: 25px;
		-webkit-border-bottom-right-radius: 25px;
		-moz-border-radius-topright: 25px;
		-moz-border-radius-bottomright: 25px;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	position:relative;z-index:910;
			
}

#quick-filters
{
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}

#quick-filters:first-child
{
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	padding-left: 30px;
	width:170px;
}

#int-radius
{
    width:50px;
    height:40px;
    margin-right: -35px;
    background-color: #3cc5de;
    border-radius: 25px;
	display: inline-block;
	vertical-align: middle;
	position:relative;z-index:900;
	margin-left: -40px;
}

#quick-filters input
{
	border-top: 0px solid;
	border-bottom: 3px solid;
	border-right: 0px solid;
		border-radius:0px;
		border-top-color: #bfbfbf;
		border-bottom-color: #bfbfbf;
		border-right-color:#bfbfbf;
	padding: 7px;
	background-color:#fdffff;
	margin-left: 0;
	font-size: 18px;
	color:#EA4C7D;
    text-decoration: none;
    display:inline-block;
    width:149px;

}

#quick-filters input:first-child
{
    width:180px;

}

#quick-filters input#end
{
	border-top: 0px solid;
	border-bottom: 3px solid;
	border-right: 0px solid;
		border-bottom-color: #bfbfbf;
   	border-right: 0px solid #bfbfbf;
		-webkit-border-top-right-radius: 25px;
		-webkit-border-bottom-right-radius: 25px;
		-moz-border-radius-topright: 25px;
		-moz-border-radius-bottomright: 25px;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	position:relative;z-index:910;

}

/*#quick-filters select:hover
{
    background-color: #dddddd;
    color: #EA4C7D;
}

#quick-filters select.active
{
    background-color: #EA4C7D;
    color:#ffffff;
}

#quick-filters select
{
	border-top: 0px solid;
	border-bottom: 3px solid;
	border-right: 0px solid;
		border-radius:0px;
		border-top-color: #bfbfbf;
		border-bottom-color: #bfbfbf;
		border-right-color:#fdffff;
	padding: 6px;
	background-color:#fdffff;
	margin-left: 0;
	font-size: 18px;
	color:#EA4C7D;
    text-decoration: none;
    	border-right: 0px solid #bfbfbf;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomright: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	margin-left: 0;
	padding-right: 6px;			
}*/

#quick-filters input:hover
{
    background-color: #dddddd;
    color: #EA4C7D;
}

#quick-filters input.active
{
    background-color: #EA4C7D;
    color:#ffffff;
}

#quick-filters input:first-child
{
	border-left: 0px solid #bfbfbf;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	padding-left: 40px;
	
}

#quick-submit 
{
	border: 0px solid;
	border-bottom: 3px solid #bfbfbf;
		border-radius:10px;
	padding: 6px;

	background-color:#fdffff;
	padding-left: 40;
	font-size: 18px;
	color:#EA4C7D;
    text-decoration: none;
	vertical-align: middle;
}

#quick-submit:hover
{
    background-color: #dddddd;
    color: #EA4C7D;
}

#hfields
{
	background-color: #4AACBF;
	border-color: #4AACBF;
	color:#FFFFFF;
	font-weight: bold;

}
#content
{
	background: #FFFFFF;
}

#trendline
{
	margin:20px;	
}

#bottom-charts
{
	width: 100%;
	height: auto;	
	align-items: center;
}

#left-chart
{
	background: #AED141;
	width: auto;
	margin:10px;
	border-radius: 10px;
	padding: 10px;

}

#logged_per_tag_combo
{
	width: 100%;
	/*margin:10px;*/
}

#middle-chart
{
	background: #AED141;
	width: auto;
	margin:10px;
	border-radius: 10px;
	padding: 10px;

}

#billable_unbillable
{
	width: 100%;
	/*margin:10px;*/
}

#right-chart
{
	background: #AED141;
	width: auto;
	border:10px;
	margin:10px;
	border-radius: 10px;
	padding: 10px;

}

#type_time_logged
{
	width: 100%;
	/*margin:10px;*/
}



#bottom-charts.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   /*background-color: red;*/
   align-items: center;
}
.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   /*background-color: red;*/
	justify-content: center;
}